header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    position: absolute;
    z-index: 10;
    color: #fff;
    .pc-navmenu li{
    list-style: none;  
    }
}

.hd-logo{
    font-size: 1.8rem;
    font-weight: bold;
}


nav { 
    width: 45%;
    @include tab{
        display: none;
    }
  

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        
    }
}

.ham {
    display: none;
    @include tab {
    width: 25px;
    height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span {
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #fff;
        }
    }
}
