.news {
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    .title {
        color: white;
    }
    &__img {
        width: 100%;
        img {
            width: 100%;
        }
    }
}

.news-wrap {
    display: flex;
    justify-content: space-between;
    
}

.news-item{
    width: 30.5%;
    background-color: white;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.16);
    
}
.news__content {
    padding: 20px;
    &__day {
        font-size: 1.1rem;
        font-weight: bold;
    }
    &__title {
        font-weight: bold;
    }
    &__intro {
        font-size: 1.2rem;
        margin-top: 1em;
    }
}

